# DATA PREPROCESSING AND DATA CLEANING:

In [3]:
import pandas as pd
import numpy as np

In [4]:
Data = pd.read_csv('DRUG.csv', usecols=['review','rating'])
Data.head()

                                              review  rating
0  "i have used restasis for about a year now and...     2.0
1  "my experience has been somewhat mixed. i have...     7.0
2  "this is my second implanon would not recommen...     1.0
3  "i recommend taking as prescribed, and the bot...    10.0
4  "i have been on ampyra for 5 days and have bee...     9.0

In [5]:
Data.tail()

                                                   review  rating
110806  "i had tried many medications to level out my ...     8.0
110807  "had partial thyroid removal with benign tumor...     7.0
110808  "my experience with risperdal started when i f...     8.0
110809  "my elderly dad was prescribed a low dose of a...     1.0
110810  "latuda has been a hero in my battle against s...    10.0

In [6]:
Data.shape

(110811, 2)

In [7]:
Data = Data.dropna()

In [8]:
Data.shape

(110811, 2)

In [9]:
Data.size

221622

In [10]:
Data.isnull().sum()

review    0
rating    0
dtype: int64

In [11]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110811 entries, 0 to 110810
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   review  110811 non-null  object
 1   rating  110811 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.7+ MB

In [12]:
Data.columns

Index(['review', 'rating'], dtype='object')

In [17]:
Data['rating'].unique()

array([ 2.,  7.,  1., 10.,  9.,  8.,  5.,  3.,  6.,  4.])

In [ ]:
Data['rating'].value_counts()

In [18]:
Data.groupby('rating').describe()

       review
        count unique                                                top freq
rating
1.0     14286  10859  "i used to only get a pimple here and there on...    4
2.0      4776   3597  "i have used restasis for about a year now and...    2
3.0      4540   3421  "i took two years of tamoxifen, without much s...    2
4.0      3501   2637  "i took trinessa because i had really bad acne...    2
5.0      5711   4317  "i am a 21 year old female and i used nuvaring...    2
6.0      4359   3328  "little to no heartburn after taking nexium fo...    2
7.0      6671   5093  "due to chronic pain i take a lot of meds to b...    2
8.0     13305  10147  "hi everyone, \r\r\ni am a 22 yr old female an...    4
9.0     19407  14688  "i have posted early before about my 1st & 2nd...    3
10.0    34255  26056  "i've had a great experience on chateal. i use...    4

#### BEFORE LABEL ENCODER

In [15]:
Data.head()

                                              review  rating
0  "i have used restasis for about a year now and...     2.0
1  "my experience has been somewhat mixed. i have...     7.0
2  "this is my second implanon would not recommen...     1.0
3  "i recommend taking as prescribed, and the bot...    10.0
4  "i have been on ampyra for 5 days and have bee...     9.0

In [19]:
from sklearn.preprocessing import LabelEncoder
var_mod = ['review','rating']
le = LabelEncoder()
for i in var_mod:
    Data[i] = le.fit_transform(Data[i]).astype(int)

#### AFTER LABEL ENCODER

In [20]:
Data.head()

   review  rating
0   34623       1
1   65561       6
2   76080       0
3   37756       9
4   24219       8

In [21]:
Data.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
110806    False
110807    False
110808    False
110809    False
110810     True
Length: 110811, dtype: bool

In [22]:
Data.duplicated().sum()

26668

In [23]:
Data = Data.drop_duplicates()

In [24]:
Data.duplicated().sum()

0